*{
	font-family: 'Roboto', sans-serif;
}
header{
	position: relative;
}
nav{
	height: 51px;
	background-color: #212121;
}
.menu{
	display: flex;
	justify-content: space-between;
	padding: 13px 70px;
	margin: 0;
	list-style-type: none;
}
.menu .menu_link{
	color: #fff;
	font-size: 15px;
	font-weight: 300;
}
.menu .menu_item{
	border-right: 2px dotted black;
	padding-right: 28px;
}
.subheader{
	width: 100%;
	position: absolute;
	height: 84px;
	background-color: rgba(0,0,0,.6);
}
.subheader .subheader_logo{
	display: block;
	max-width: 100%;
	margin-top: 16px;
}
.subheader .subheader_official{
	font-size: 13px;
	font-weight: 100;
	color: rgba(255, 255, 255, 0.5);
	opacity: .6;
	margin-top: 6px;
}
.subheader .subheader_call{
	margin-top: 19px;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.17;
	color: #fff;
	text-align: right;
}
.subheader .subheader_phone{
	display: block;
	margin-top: 8px;
	font-size: 22px;
	color: #fff;
	text-align: right;
	line-height: 12px;
}
.subheader .subheader_btn{
	display: block;
	margin-top: 19px;
	width: 172px;
	height: 46px;
	box-shadow: inset 0px -3px 0 rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
	background-image: linear-gradient(to top, #1eacc7, #4ce2ff 100%);
	padding-top: 12px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}
.promo{
	min-height: 800px;
	background: url(/src/img/back1.png) center center/cover no-repeat;
	padding: 150px 0 135px 0;
}
.promo .promo_header{
	margin: 0;
	font-size: 60px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	line-height: 60px;
}
.promo .promo_subheader{
	margin: 0;
	margin-top: 22px;
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	line-height: 36px;
}
.promo .promo_descr{
	font-size: 18px;
	line-height: 1.33;
	text-align: center;
	color: #fff;
	margin-top: 23px;
}
.promo .promo_btn{
	display: block;
	margin: 118px auto 0 auto;
	width: 259px;
	height: 63px;
	box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
	border: none;
	background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
	border-radius: 4px;
	text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
	font-size: 17px;
	text-align: center;
	color: #fff;
}
.reason{
	width: 100%;
}
.label{	
	margin: 71px auto 0 auto;
	width: 112px;
	height: 24px;
	padding: 8px 11px 6px 12px;
	background-color: #000;
	font-size: 11px;
	font-weight: 100;
	line-height: 10px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}
.title{
	margin: 38px auto 40px auto;
	font-size: 38px;
	font-weight: bold;
	text-align: center;
	color: #222;
	text-transform: uppercase;
}

.reason_logo{
	position: absolute;
	width: 114px;
	height: 114px;
	padding: 24px;
	background-color: #1eacc7;
	border-radius: 100%;
	top: 50%;
	left: 50%;
	margin-top: -77px;
	margin-left: -57px;
}

.reason_sub_txt{
	margin-bottom: 40px;
}
.reason_subtitle{
	font-size: 17px;
	color: #1eacc7;
}

.reason_text{
font-size: 15px;
font-weight: 300;
line-height: 1.4;
text-align: justify;
color: #202020;
}

